/*canvas {
    display: block;
}*/

input {
    width: 200px;
}

body {
}

.container{
    position: relative;
    width: 240px;
    height: 240px;
    margin:0 auto;
}

#sliderLine {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#baseLine {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#slider {
    position: relative;
    left: 20px;
    top: -15px;
    background: #666;
    border-radius: 100%;
  /*  cursor: pointer;*/
    z-index: 3;
}
