input {
    width: 200px;
}

body {
}

#container{
    position: relative;
    margin:0 auto;
}

#sliderLine {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#baseLine {
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#slider {
    position: relative;
    background: #666;
    border-radius: 100%;
    z-index: 3;
}
