/*canvas {
    display: block;
}*/

input {
    width: 200px;
}

body {
}

.container{
    position: relative;
    width: 240px;
    height: 240px;
    margin:0 auto;
}

#slider {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#baseLine {
    z-index: -5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}